@page "/Login"

<h3>Login</h3>

<div>
    <ruby>Login</ruby>
    <input type="text" name="Login"><br><br>
    <ruby>Password</ruby>
     <input type="text" name="Password"><br><br>
     <button>Login</button>
</div>

@code {

}
